@font-face {
  font-family: Old-Sans-Black;
  src: url("/src/assets/fonts/trade-gothic-similar/OldSansBlack/OldSansBlack.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("/src/assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Semibold;
  src: url("/src/assets/fonts/Montserrat/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: Open-Sans;
  src: url("/src/assets/fonts/OpenSans-Regular.ttf");
}

@import "tailwindcss";

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-thin::-webkit-scrollbar {
    height: 5px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100vh;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100vh;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* For Firefox */
  .scrollbar-thin {
    /* -ms-overflow-style: ; */
    scrollbar-width: thin;
  }
}

@theme {
  --font-old-sans-black: Old-Sans-Black, "sans-serif";
  --font-montserrat-bold: Montserrat-Bold, "sans-serif";
  --font-montserrat-semibold: Montserrat-Semibold, "sans-serif";
  --font-open-sans: Open-Sans, "sans-serif";
}
